<script src="assets/month.js"></script>

<div id="page-005-month">    
    <div id="monthPageContainer">
        <div id="monthPageStatContainer" class="flexbox flexGap10" style="align-items: center;">
            <button id="chartLastButton" class="clickable height100percent transparentButton width45px" onclick="changeDate(-1)">
                <object class="width20px" data-src="assets/img/icons/ArrowLeftSmall.svg"></object>
            </button>
            <div class="width100percent">
                <canvas id="myChart"></canvas>
                <input id="myChartMin" type="hidden" />
                <input id="myChartMax" type="hidden" />
                <input id="myChartAvg" type="hidden" />
            </div>
            <button id="chartNextButton" class="clickable height100percent transparentButton width45px" onclick="changeDate(1)">
                <object class="width20px" data-src="assets/img/icons/ArrowRightSmall.svg"></object>
            </button>
        </div>
        <div id="monthPageConfigureContainer" class="flexbox" style="flex-direction: column; gap: 30px; margin-top: 30px;">
            <div id="monthPageConfigureStationContainer" class="spaceBetweenFlex flexGap10">
                <div class="width45px">
                    <object class="width30px fillLightGray" data-src="assets/img/icons/Station.svg"></object>
                </div>
                <div class="width100percent">
                    <select id="monthChartSelectStation" class="height100percent width100percent" onchange="setActiveStation(this.value); updateMonthlyData();">
                        <optgroup id="monthChartSelectMonthFavourites" label="Favoriten"></optgroup>
                        <optgroup id="monthChartSelectMonthAll" label="Alle Stationen"></optgroup>
                    </select>
                </div>
                <div class="clickable width45px" onclick="displayStationInformationFromSelecttag()">
                    <object class="width30px fillDarkGray" data-src="assets/img/icons/Information.svg"></object>
                </div>
            </div>
            <div id="monthPageConfigureDateContainer" class="spaceBetweenFlex flexGap10">
                <div class="width45px">
                    <object class="width30px fillLightGray" data-src="assets/img/icons/CalendarSmall.svg"></object>
                </div>
                <div id="datePickerMonthArea" class="width100percent">
                    <input id="datePickerMonthInput" type="text" class="height100percent width100percent" onchange="updateMonthlyData(); disableNextLastMonthButtons();" />
                </div>
            </div>
            <div id="weekPageConfigureDisplayContainer">
                <button class="buttonColors buttonRadius clickable flexbox flexgap6 flexAlignItemsCenter"
                    style="padding: 5px 10px; " onclick="openChartViewSettings('month')">
                    <div>
                        <object class="width20px" data-src="assets/img/icons/Settings.svg"></object>
                    </div>
                    <div>
                        <span class="fontmedium">Einstellungen</span><br /><span class="fontthin">Ansicht</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>